@charset "utf-8";

/*스킵 네비게이션*/
#skip { position: relative; }
#skip a { position: absolute; left:0px; top: -35px; border: 1px solid black; color: white; background: burlywood;
        line-height: 30px; width:200px; height:30px; text-align: center; }
#skip a:active, #skip a:focus { color: brown;top: 0; }


/* 레이아웃 */
#wrap { text-align: center; font-size: 20px; width: 100%; }
#header { width: 100%; height: 325px; background: url(https://cdn.pixabay.com/photo/2016/04/10/15/13/mangoes-1320111_1280.jpg) center top repeat-x; }
#contents { width: 100%; height: 800px; background: whitesmoke; line-height: 800px;}
#footer { width: 100%; height: 200px; background: gold; line-height: 200px; }


/* 콘텐츠 레이아웃*/
#cont_nav { width: 100%; height: 200px; background: rgba(71, 110, 161, 0.479); line-height: 200px; }
#cont_tit { width: 100%; height: 200px; background: rgb(142, 204, 168); line-height: 200px; }
#cont_ban { width: 100%; height: 200px; background: rgb(27, 77, 48); line-height: 200px; }
#cont_cont {  width: 100%; height: 200px; background: rgb(9, 119, 73); line-height: 200px;}


/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(0, 0, 0, 0.3); }


/* 헤더 */
.headerclass {}
.headerclass .header-menu { text-align: right; }
.headerclass .header-menu a { color: white; padding: 10px 0px 10px 13px; display: inline-block; }
.headerclass .header-menu a:hover { color: #666; }
.headerclass .header-tit { text-align: center; }
.headerclass .header-tit h1 { text-align: center; background:pink; font-size:28px; padding: 5px 20px 6px 20px; margin-top:5px; 
    font-weight: normal; display: inline-block; color:gray; text-transform: uppercase;}
.headerclass .header-tit a { display: inline-block; background: rosybrown; font-size: 18px; 
    color: white; padding: 5px 20px; margin-top: 5px; }
.headerclass .header-icon { text-align: center }
.headerclass .header-icon a {width: 60px; height: 60px; line-height: 60px; display:inline-block; 
    background: url('icon.png'); margin: 10px 5px 2px 5px;}
.headerclass .header-icon a.icon1 { background-position: 0 0; }
.headerclass .header-icon a.icon2 { background-position: 0 -60px; }
.headerclass .header-icon a.icon3 { background-position: 0 -120px; }
.headerclass .header-icon a.icon4 { background-position: 0 -180px; }
.headerclass .header-icon a.icon1:hover { background-position: -60px 0; }
.headerclass .header-icon a.icon2:hover { background-position: -60px -60px; }
.headerclass .header-icon a.icon3:hover { background-position: -60px -120px; }
.headerclass .header-icon a.icon4:hover { background-position: -60px -180px; }

